
body.everbrew .plans.slick-initialized.slick-slider .ever-treze,body.everbrew .plans.slick-initialized.slick-slider .left{border:none!important}body.everbrew .plans.slick-initialized.slick-slider .plan-item{flex-direction:column;align-items:center}body.everbrew .ever-treze{border-left:3px solid #b1cd5e}body.everbrew .ever-treze .all-plans{display:grid;grid-template-columns:1fr 1fr;margin-top:10px}body.everbrew .ever-treze .all-plans .plan-item{flex-direction:column;align-items:center}body.everbrew .ever-treze .all-plans .plan-item .plan-img img{transform:scale(2.5)}body.everbrew .ever-treze .all-plans .plan-item .plan-options{border:none!important;margin-top:10px}body.everbrew .ever-treze .all-plans .plan-item .plan-options .list .price2{text-align:center!important}body.everbrew .ever-treze .all-plans .plan-item .plan-options .list .price2 h4{font-size:20px}body.everbrew .ever-treze .all-plans .plan-item .plan-options .list .price2 p{font-size:30px!important;display:flex;align-items:center}body.everbrew .ever-treze .all-plans .plan-item .plan-options .list .price2 p span{margin-left:10px;word-break:break-word;display:inline-block;position:relative;width:50px}body.everbrew .ever-treze .all-plans .plan-item .plan-options .list .price2 p span:before{content:"";width:1px;height:80%;position:absolute;left:-5px;background-color:#000;transform:rotate(11deg);top:0}body.everbrew .ever-treze .all-plans .plan-item .plan-options .list .list-item{margin-bottom:0!important}body.everbrew .ever-treze .all-plans .plan-item .plan-options .list .list-item label:before{margin-right:0!important}body.everbrew .ever-treze .all-plans .plan-item .plan-options .list .quantity{display:flex;flex-direction:row-reverse;width:100px;border:1px solid #000}body.everbrew .ever-treze .all-plans .plan-item .plan-options .list .quantity .qtd{width:32px;height:40px;display:flex;align-items:center;justify-content:center;background-color:#000;color:#fff;cursor:pointer;font-size:22px}body.everbrew .ever-treze .all-plans .plan-item .plan-options .list .quantity .qtdProd{background-color:#fff;border:0;width:35%;height:40px;margin:0 10px;line-height:41px;font-size:22px;text-align:center;color:#000}body.everbrew.page2 .wrapper-plans p.title-plans{margin:30px auto;text-align:center;width:240px;font-size:28px}body.everbrew.page2 .all-plans{display:flex}body.everbrew.page2 .all-plans .left-plans,body.everbrew.page2 .all-plans .right-plans{width:50%}body.everbrew.page2 .all-plans .left-plans .plan-item,body.everbrew.page2 .all-plans .right-plans .plan-item{width:132px!important;margin:0 15px}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-img img,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-img img{width:132px;margin:auto;transform:scale(1.5)}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options{position:relative;border:none!important;margin-top:30px}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list-item input,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list-item input{opacity:0;position:absolute;left:-9999em}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list-item input:checked+label:before,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list-item input:checked+label:before{background-color:#b1cd5e;border:2px solid #fff;box-shadow:0 0 0 3px #b1cd5e}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list-item label:before,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list-item label:before{content:"";width:25px;height:25px;display:inline-block;border:1px solid #000;border-radius:50%;margin-right:10px;height:18px;margin-right:5px;width:18px}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list-item p.value,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list-item p.value{justify-content:center}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list .price2,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list .price2{text-align:center!important}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list .price2 h4,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list .price2 h4{font-size:20px}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list .price2 p,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list .price2 p{font-size:30px!important;display:flex;align-items:center}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list .price2 p span,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list .price2 p span{margin-left:10px;word-break:break-word;display:inline-block;position:relative;width:50px}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list .price2 p span:before,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list .price2 p span:before{content:"";width:1px;height:80%;position:absolute;left:-5px;background-color:#000;transform:rotate(11deg);top:0}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list .list-item,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list .list-item{margin-bottom:0!important}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list .list-item label:before,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list .list-item label:before{margin-right:0!important}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list .quantity,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list .quantity{display:flex;flex-direction:row-reverse;width:125px;border:1px solid #000}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list .quantity .qtd,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list .quantity .qtd{width:60px;height:40px;display:flex;align-items:center;justify-content:center;background-color:#000;color:#fff;cursor:pointer;font-size:22px}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list .quantity .qtdProd,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list .quantity .qtdProd{background-color:#fff;border:0;width:35%;height:40px;margin:0 10px;line-height:41px;font-size:22px;text-align:center;color:#000}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list-item,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list-item{text-align:center}body.everbrew.page2 .all-plans .left-plans .plan-item .plan-options .list .quantity,body.everbrew.page2 .all-plans .right-plans .plan-item .plan-options .list .quantity{margin:auto}body.everbrew.page2 .all-plans .left-plans .plans-items,body.everbrew.page2 .all-plans .right-plans .plans-items{display:flex;justify-content:space-evenly}body.produto main .tpl-content>div.tpl-center .bread-crumb{order:1}body.produto main .tpl-content>div.tpl-center #area-a{order:2}body.produto main .tpl-content>div.tpl-center #area-conteudo{order:3}body.produto main .tpl-content>div.tpl-center .pack{order:4;margin-top:40px;}body.produto main .tpl-content>div.tpl-center .pack-title{border-bottom:2px solid #d3d3d3;padding-bottom:5px;padding-top:5px;margin-bottom:15px;clear:both;font-family:inherit;font-size:18px;font-weight:500;text-transform:uppercase;color:#333;width:100%;text-align:center;display:block}body.produto main .tpl-content>div.tpl-center .pack-list li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar.socio .left span{font-size:9px!important}body.produto main .tpl-content>div.tpl-center #compreJunto{order:5}body.produto main .tpl-content>div.tpl-center #qvvtb{order:6}#wapperBottomTriplo.wapperLinkBanner .box-banner{width:20%!important}#wapperBottomTriplo.wapperLinkBanner .box-banner a:hover{-webkit-animation:none!important;animation:none!important}#wapperBottomTriplo.wapperLinkBanner .box-banner a img{width:80%!important;margin:auto!important}#wapperBottomTriplo.wapperLinkBanner .box-banner a p{font-size:24px;font-weight:500;text-transform:uppercase;color:#333;margin-top:8px;text-align:center}@media (max-width:800px){body.everbrew.page2 .all-plans .left-plans{border-right:none!important}body.everbrew.page2 .all-plans .plans-items{justify-content:center}#wapperBottomTriplo.wapperLinkBanner .box-banner{width:100%!important}}

.prateleira {
    width: 100%;
    display: block
}
.pack .slick-track{
    display: flex;

}
.pack .slick-track .slick-slide{
    width: 300px !important;
    margin: 0 3px;
}

@media only screen and (max-width: 720px) {
    .pack .slick-track .slick-slide{
        width: 100% !important;
        margin: 0 3px;
    }
  }

.prateleira div.slick-slider.pack-list.slick-initialized .slick-list {
    padding-top: 6px
}

.prateleira div.slick-slider.pack-list.slick-initialized li {
    width: 19.6%;
    float: left;
    margin-left: .2%;
    margin-right: .2%;
    margin-bottom: 10px;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #d3d3d3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper {
    height: auto;
    width: 100%;
    position: relative
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .photo {
    width: 100%;
    min-height: 60px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
    text-align: center;
    position: relative;
    overflow: hidden
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .photo img {
    width: 100%;
    height: auto;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .photo img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    font-family: inherit
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .product-name {
    margin-top: 10px;
    margin-left: 10px;
    overflow: hidden;
    text-align: left;
    font-family: inherit;
    text-transform: uppercase;
    color: #313131;
    font-size: 15px;
    font-weight: 800;
    line-height: 16px;
    width: calc(80% - 10px);
    height: 32px;
    clear: both
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .fields {
    padding: 10px;
    width: 100%;
    height: 40px;
    clear: both;
    color: #7f7f7f;
    font-family: Oswald,sans-serif;
    font-weight: 100
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .fields .field {
    width: calc(55% - 2.5px);
    float: left
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .fields .field .product-field {
    font-size: 0
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .fields .field .product-field ul {
    width: 100%!important
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .fields .field .product-field ul li {
    font-size: 11px;
    border: 0;
    margin: 0;
    padding: 0;
    float: left;
    width: max-content!important;
    height: 12px;
    line-height: 12px;
    margin-left: 0!important;
    margin-bottom: 0!important
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .fields .field .product-field ul li.icon {
    margin-right: 3px;
    margin-left: 0;
    width: max-content;
    margin-bottom: 0!important
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .fields .field .product-field ul li.icon img {
    float: left;
    display: inline-block;
    position: relative;
    top: 0
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .fields .field .product-field ul li.icon span {
    float: left;
    margin-left: 2px;
    display: inline-block
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .fields .field.origem {
    width: calc(45% - 2.5px)
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .fields .field.origem .product-field ul li.icon img {
    top: 0
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .fields .field.estilo {
    margin-left: 5px
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .brand-name {
    font-style: normal;
    font-size: 12px;
    font-weight: 300;
    color: #757575;
    text-align: center;
    text-transform: uppercase
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar {
    border-top: 1px solid #d3d3d3;
    clear: both;
    width: 100%;
    padding: 10px;
    overflow: hidden
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar.promocao {
    display: none
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperPreco {
    text-align: left;
    width: 31%;
    height: 37px;
    display: table;
    float: left
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperPreco .preco {
    height: 37px;
    display: table-cell;
    vertical-align: middle
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperPreco .preco .valor-de {
    font-size: 13px;
    font-weight: 100;
    color: #757575;
    display: block;
    margin-bottom: 2px;
    margin-top: 2px;
    clear: both;
    text-decoration: line-through
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperPreco .preco .valor-de strong {
    font-weight: 100;
    display: block;
    line-height: inherit
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperPreco .preco .valor-por {
    font-size: 18px;
    font-weight: 500;
    color: #ffb600;
    display: block;
    clear: both
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperPreco .preco .valor-por strong {
    font-weight: 500;
    display: block;
    line-height: inherit
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar span.valor-dividido {
    display: none
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra {
    width: 68%;
    position: relative;
    float: right
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra .adicionado {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 40px;
    left: 0;
    top: 0;
    display: none;
    text-align: center;
    background-color: #81c784;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 999
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra .adicionado:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 4px;
    margin-right: 5px;
    background-image: url(/arquivos/icone-adicionado.png);
    background-repeat: no-repeat
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra .adicionado span {
    display: inline-block;
    color: #284329;
    font-size: 14px;
    font-family: inherit;
    text-transform: uppercase
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra button {
    width: 60%;
    height: 37px;
    line-height: 37px;
    padding: 0;
    border: 0;
    float: right;
    background-color: #c54016;
    border-bottom: 3px solid #993111;
    letter-spacing: 0;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra button:before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(/arquivos/icone-cart-bt.png);
    background-position: bottom;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 7px;
    right: 2px
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra button span {
    display: inline-block;
    height: 37px;
    position: relative;
    left: 2px;
    font-size: 10px
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra button:focus {
    outline: 0
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra button:hover {
    background-color: #993111
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra .quantity {
    float: left;
    width: calc(40% - 5px);
    height: 37px;
    border: 1px solid #dadada;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra .quantity input {
    background-color: #fff;
    border: 0;
    width: 50%;
    height: 35px;
    line-height: 41px;
    text-align: center;
    color: #000;
    font-size: 14px;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra .quantity input:focus {
    outline: 0
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra .quantity span {
    width: 25%;
    height: 35px;
    line-height: 40px;
    text-align: center;
    background-color: #eee;
    color: #000;
    cursor: pointer;
    font-size: 20px
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra .quantity span.menos {
    float: left
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra .quantity span.mais {
    float: right
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar .wrapperCompra .quantity span:focus {
    outline: 0
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar.socio {
    display: none
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar.socio .left {
    width: 32%;
    float: left
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar.socio .left span {
    font-family: Oswald,sans-serif;
    color: #313131;
    display: block;
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar.socio .left .preco {
    font-family: Oswald,sans-serif;
    color: #313131;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar.socio .botao {
    float: right;
    width: 68%
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar.socio .botao a.bt {
    background-color: #eee;
    color: #58340d;
    border-bottom: 3px solid #d0a14c;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Oswald,sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar.socio .botao a.bt:hover {
    background-color: #d0a14c
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar.socio .botao a.bt:after {
    content: '✭';
    display: inline-block;
    font-size: 12px;
    color: #986910;
    position: relative;
    top: -1px
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar.socio .botao a.bt:before {
    content: '✭';
    display: inline-block;
    font-size: 12px;
    color: #986910;
    position: relative;
    top: -1px;
    margin-right: 10px
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar.socio .botao a.bt:after {
    margin-left: 10px
}

.prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .wrapperConteudo .esgotado {
    font-size: 12px;
    text-transform: uppercase;
    color: #cd484d;
    margin-top: 15px;
    text-align: center
}

.prateleira div.slick-slider.pack-list.slick-initialized li a:hover {
    text-decoration: none
}

.prateleira div.slick-slider.pack-list.slick-initialized li:hover {
    border-color: #000
}

.prateleira div.slick-slider.pack-list.slick-initialized li:hover .shelf-wrapper .photo img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.prateleira div.slick-slider.pack-list.slick-initialized li:hover .shelf-wrapper .photo img:nth-child(2) {
    opacity: 1
}

.prateleira div.slick-slider.pack-list.slick-initialized li:hover .shelf-wrapper .photo .wrapperAmountInCart {
    display: block
}

.prateleira div.slick-slider.pack-list.slick-initialized li:hover .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar {
    border-color: #000
}

.prateleira .slick-slider {
    display: block;
    flex-wrap: inherit
}

.hasRecurrence a.bt.assinar {
    display: block!important;
    margin-top: 5px
}

.hasRecurrence .shelf-wrapper .photo {
    padding: 0 23px
}

@media screen and (max-width: 1380px) {
    .prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .photo .wrapperAmountInCart {
        width:90%;
        left: 5%
    }

    .prateleira div.slick-slider.pack-list.slick-initialized li .shelf-wrapper .photo .wrapperAmountInCart button.bt {
        font-size: 12px
    }
}