@charset "UTF-8";
@import "~stylesheets/slick-theme.css";
@import "~stylesheets/slick.css";

#ajaxBusy,
.is-hidden {
    @include is-hidden();
}

html {
    background-color: red;
    box-sizing: border-box;
    overflow-x: hidden;

    &.overlay {
        overflow-y: hidden;
    }

    * {
        box-sizing: inherit;
    }
}

body {
    background: #fff;
    font-family: $font-family-first;
    font-size: 62.5%;
    color: $color-first;
    overflow-x: hidden;
    @include font-smoothing();

    &:before {
        content: "";
        transition: all 0.3s ease-out;
        opacity: 0;
    }

    > object {
        position: absolute !important;
        bottom: -100% !important;
        left: -100% !important;
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        visibility: hidden !important;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            outline: none;
        }
    }
}

.container {
    position: relative;
    max-width: $max-width-container;
    min-width: $min-width-container;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    *zoom: 1;

    @media screen and (max-width: 980px) {
        padding: 0 16px;
    }

    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }

    &:after {
        clear: both;
    }
}

a {
    @extend %href-link;
}

button {
    cursor: pointer;

    @extend %button-reset;

    svg {
        path {
            transition: all 0.2s ease;
        }
    }

    &:focus,
    &:visited,
    &:active {
        outline: none;
    }
}

label {
    display: initial;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        outline: none;
    }
}

input,
button,
select {
    font-family: "Open Sans", sans-serif;
    &:hover,
    &:focus,
    &:visited,
    &:active {
        outline: none !important;
    }
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;

    &:hover,
    &:focus,
    &:visited,
    &:active {
        outline: none !important;
    }

    li {
        &:hover,
        &:focus,
        &:visited,
        &:active {
            outline: none !important;
        }
    }
}

img {
    vertical-align: middle;
    max-width: 100%;
    width: auto\9;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.sidenav {
    li {
        line-height: initial;

        a {
            height: initial;
            line-height: initial;

            img {
                margin: 0 auto;
            }
        }
    }
}
@keyframes babadoLive {
    from {
        opacity: 0.99;
    }
    to {
        opacity: 1;
    }
}
.video-youtube-floating {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 400px;
    padding: 10px 0;
    z-index: 100;
    animation-name: babadoLive;

    @media (max-width: 580px) {
        width: 300px;
    }

    .close-button {
        position: absolute;
        top: -30px;
        right: 0;
        width: 30px;
        height: 30px;
        border-radius: 0%;
        background-color: #000;
        background-size: 80%;
        font-size: 17px;
        color: #fff;
        z-index: 1;
    }

    .see-more {
        display: block;
        width: 100%;
        height: 30px;
        margin-top: 10px;
        background: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        line-height: 30px;

        &:hover {
            @media (min-width: 981px) {
                background: $color-third;
            }
        }
    }
}
.popup-youtube-floating {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    min-height: 69px;
    background-color: #e0e0e0;
    z-index: 100;
    animation-name: babadoLive;
    &__image {
        width: 130px;
        a {
            display: block;
            height: 100%;
            background-color: #fff;
            // background-image: url(~images/mini-banner-float.jpg);
            img {
                width: 100%;
            }
        }
    }
    &__text {
        position: relative;
        flex: 1;

        a {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 10px;
            font-size: 12px;
            text-transform: uppercase;
            &:before {
                position: absolute;
                top: 50%;
                right: 10px;
                content: "‣";
                font-size: 36px;
                transform: translateY(-50%);
            }
        }

        &:before {
        }
        span {
            display: block;

            &.title {
                font-weight: bold;
                &:before {
                    display: inline-block;
                    vertical-align: middle;
                    width: 4px;
                    height: 4px;
                    margin-right: 5px;
                    border-radius: 50%;
                    background-color: #000;
                    content: "";
                    // line-height: 12px;
                    animation: live 1s linear infinite backwards;
                }
            }

            &.sub-title {
                max-width: 110px;
            }
        }
    }
    &__close {
        width: 40px;
        border-radius: 0;
        font-size: 15px;
        font-weight: bold;
    }
}

@keyframes live {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#progressBar {
    width: 100%;
    background-color: #adadad;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;

    #progress {
        width: 1%;
        height: 20px;
        background: linear-gradient(
            -90deg,
            #cf38ef 0.97%,
            #d23be2 6.02%,
            #da45c1 16.11%,
            #e8538a 29.23%,
            #fa683f 45.38%,
            #ff6d2c 49.42%,
            #fea116 82.73%,
            #febb0b 98.88%
        );
        color: $color-second;

        &:after {
            content: "CARREGANDO...";
            position: absolute;
            left: calc(50% - 45px);
            bottom: 5px;
            font-weight: bold;
            font-size: 11px;
            letter-spacing: 0.3px;
            color: #fff;
        }
    }
}

#returnToTop {
    display: none !important;
}

body.no-story{
  .store-story.header-store-story  {
    display: none;
  }
}
