<!DOCTYPE html>
<html class="no-js" lang="pt-br" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
   <head>
        <link rel="stylesheet" href="/arquivos/cervejabox-style-react-3.4.3.css" xmlns="http://www.w3.org/1999/xhtml" />
        <vtex:template id="cervejabox-includes-header" />
   </head>
   <body>
      <vtex:template id="cervejabox-menumobile" />
      <div class="tpl-wrapper">
        <!-- 09/01/2023 - Gustavo Felipe - new page -->
         <vtex:template id="cervejabox-header" />
         <main id="main-mapa">
         </main>
         <vtex:template id="cervejabox-footer" />
      </div>
      <vtex:template id="cervejabox-includes-scripts" />
      <script src="/arquivos/cervejabox-react.min.js?v=2"></script>
   </body>
</html>