<footer id="footer">
  <div class="topBar">
    <vtex.cmc:cadastroNews />
  </div>
  <div class="middleArea">
    <div class="tpl-center">
      <div class="coluna col-01">
        <h3>Ajuda e Suporte</h3>
        <ul class="itens">
          <li class="item">
            <a
              target="_blank"
              href="http://relacionamento.cervejabox.com.br/hc/pt-br"
              >Perguntas Frequentes</a
            >
          </li>
          <li class="item">
            <a
              target="_blank"
              href="http://relacionamento.cervejabox.com.br/hc/pt-br/articles/360006050534"
              >Formas de Pagamento</a
            >
          </li>
          <li class="item">
            <a
              target="_blank"
              href="http://relacionamento.cervejabox.com.br/hc/pt-br/articles/360006050814"
              >Taxas de Entrega</a
            >
          </li>
          <li class="item">
            <a
              target="_blank"
              href="http://relacionamento.cervejabox.com.br/hc/pt-br/articles/360006051094"
              >Prazo de Entrega</a
            >
          </li>
          <li class="item">
            <a
              target="_blank"
              href="http://relacionamento.cervejabox.com.br/hc/pt-br/articles/360005290674"
              >Troca e Devolução</a
            >
          </li>
          <li class="item">
            <a href="/distribuidora-cerveja-artesanal-b2b">Vendas B2B</a>
          </li>
        </ul>

        <h3>CERVEJAS POR PAÍS</h3>
        <ul class="itens">
          <li class="item">
            <a target="_blank" href="/pais/brasil"
              >Cervejas Artesanais Brasileiras</a
            >
          </li>
          <li class="item">
            <a target="_blank" href="/pais/alemanha"
              >Cervejas Importadas Alemãs</a
            >
          </li>
          <li class="item">
            <a target="_blank" href="/pais/estados-unidos"
              >Cervejas Importadas Americanas</a
            >
          </li>
          <li class="item">
            <a target="_blank" href="/pais/belgica"
              >Cervejas Importadas Belgas</a
            >
          </li>
          <li class="item">
            <a target="_blank" href="/pais/inglaterra"
              >Cervejas Importadas Inglesas</a
            >
          </li>
          <li class="item">
            <a target="_blank" href="/pais/republica-tcheca"
              >Cervejas Importadas Tchecas</a
            >
          </li>
        </ul>
      </div>

      <div class="coluna col-02">
        <h3>CERVEJARIAS ARTESANAIS</h3>
        <ul class="itens">
          <li class="item">
            <a target="_blank" href="/cervejarias/bierland">Bierland</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/bodebrown">Bodebrown</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/capapreta">Capa Preta</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/chimay">Chimay</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/coruja">Coruja</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/czechvar">Czechvar</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/demonho">Demonho</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/dogma">Dogma</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/halve-maan">DeHalveMaan</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/delirium">Delirium</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/ekaut">Ekaut</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/erdinger">Erdinger</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/everbrew">Everbrew</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/fuller-s">Fuller’s</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/juan-caloto">Juan Caloto</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/leopoldina">Leopoldina</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/leuven">Leuven</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/roleta-russa">Roleta Russa</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/schneider">Schneider</a>
          </li>
          <li class="item">
            <a target="_blank" href="/cervejarias/outras-cervejarias"
              >Outras cervejarias</a
            >
          </li>
        </ul>
      </div>

      <div class="coluna col-03">
        <h3>ESTILOS DE CERVEJA</h3>
        <ul class="itens">
          <li class="item">
            <a target="_blank" href="/estilos/sem-gluten---gluten-free"
              >Sem glúten / Gluten Free</a
            >
          </li>
          <li class="item">
            <a target="_blank" href="/estilos/american-pale-ale--apa-">APA</a>
          </li>
          <li class="item">
            <a target="_blank" href="/estilos/india-pale-ale---ipa">IPA</a>
          </li>
          <li class="item">
            <a target="_blank" href="/estilos/imperial-ipa">Imperial IPA</a>
          </li>
          <li class="item">
            <a target="_blank" href="/estilos/new-england-ipa--neipa-">NEIPA</a>
          </li>
          <li class="item">
            <a target="_blank" href="/estilos/session-ipa">Session Ipa</a>
          </li>
          <li class="item">
            <a target="_blank" href="/estilos/pilsner">Pilsen</a>
          </li>
          <li class="item">
            <a target="_blank" href="/estilos/weiss---weizen">Weiss/Trigo</a>
          </li>
          <li class="item">
            <a target="_blank" href="/estilos/witbier">Witbier</a>
          </li>
        </ul>

        <h3>ACESSÓRIOS DE CERVEJA</h3>
        <ul class="itens">
          <li class="item">
            <a target="_blank" href="/acessorios/bar-mat--tapete-de-mesa-"
              >Bar Mats</a
            >
          </li>
          <li class="item">
            <a target="_blank" href="/acessorios/camisetas">Camisetas</a>
          </li>
          <li class="item">
            <a target="_blank" href="/kits-e-packs/kits-com-copo-gratis"
              >Kits e copos</a
            >
          </li>
          <li class="item">
            <a target="_blank" href="/kits-cerveja-artesanal-presente"
              >Kits de cerveja pra presente</a
            >
          </li>
          <li class="item">
            <a target="_blank" href="/acessorios/growlers">Growlers</a>
          </li>
          <li class="item">
            <a target="_blank" href="/acessorios/porta-copo">Porta copos</a>
          </li>
          <li class="item">
            <a target="_blank" href="/acessorios/colecao-de-tampinhas"
              >Porta tampinhas</a
            >
          </li>
        </ul>
      </div>

      <div class="coluna col-04">
        <div class="atendimento">
          <h3>Atendimento</h3>
          <span class="cellphone"></span>
          <div class="left">
            <strong>(11) 4949-5001</strong>
            <a href="mailto:contato@cervejabox.com.br"
              >contato@cervejabox.com.br</a
            >
            <span>Segunda a Sexta das 9h às 18h</span>
          </div>
          <strong class="idade18"
            >PRODUTOS DESTINADOS A<br />MAIORES DE 18 ANOS</strong
          >
        </div>

        <div class="selos">
          <h3>Selos</h3>
          <ul class="itens">
            <li class="item lets">
              <a href="https://letsencrypt.org/" target="_blank"
                ><img
                  src="/arquivos/letsencrypt.png"
                  alt="CervejaBox"
                  width="75"
                  height="60"
              /></a>
            </li>
            <li class="item pci">
              <a href="http://secure.vtex.com/?an=cervejabox" target="_blank"
                ><img
                  src="//io.vtex.com.br/front-libs/assets/pci/vtex-pci-100.png"
                  alt="VTEX PCI Certified"
                  width="100"
                  height="62"
              /></a>
            </li>
            <li class="item ebit">
              <a
                id="seloEbit"
                href="https://www.ebit.com.br/cerveja-box"
                target="_blank"
                ><img
                  src="/arquivos/medalha_ebit_ouro.png"
                  alt="Ebit Ouro - Ótima"
                  width="90"
                  height="95"
              /></a>
            </li>
            <!--li class="item siteblindado">
                  <div id="armored_website">
                    <param id="aw_preload" value="true" />
                    <param id="aw_use_cdn" value="true" />
                  </div>
                  <script type="text/javascript" src="//cdn.siteblindado.com/aw.js"></script>
                </li-->
          </ul>
        </div>

        <div class="formas">
          <h3>Formas de Pagamento</h3>
          <ul class="itens">
            <li class="visa">
              <img
                src="/arquivos/icone-visa.jpg"
                alt="Pagamento Visa"
                width="42"
                height="27"
              />
            </li>
            <li class="masterCard">
              <img
                src="/arquivos/icone-mastercard.jpg"
                alt="Pagamento mastercard"
                width="42"
                height="27"
              />
            </li>
            <li class="diners">
              <img
                src="/arquivos/icone-diners.jpg"
                alt="Pagamento diners"
                width="42"
                height="27"
              />
            </li>
            <li class="boleto">
              <img
                src="/arquivos/icone-boleto.jpg"
                alt="Pagamento boleto"
                width="42"
                height="27"
              />
            </li>
            <li class="bradesco">
              <img
                src="/arquivos/AMEX_LOGO.png"
                alt="Pagamento Amex"
                width="42"
                height="27"
              />
            </li>
            <li class="itau">
              <img
                src="/arquivos/LOGO_ELO.png"
                alt="Pagamento Elo"
                width="42"
                height="27"
              />
            </li>
            <li class="pix">
              <img
                src="/arquivos/PIX_LOGO.png"
                alt="Pagamento PIX"
                width="42"
                height="27"
              />
            </li>
          </ul>
        </div>

        <div class="redes">
          <h3>Redes Sociais</h3>
          <ul class="itens">
            <li class="item">
              <a
                href="https://www.facebook.com/cervejabox"
                target="_blank"
                title="Curta nossa página no Facebook"
                ><img
                  src="/arquivos/icone-facebook.jpg"
                  alt="CervejaBox"
                  width="28"
                  height="28"
              /></a>
            </li>
            <li class="item">
              <a
                href="http://instagram.com/cervejabox"
                target="_blank"
                title="Siga-nos no Instagram"
                ><img
                  src="/arquivos/icone-instagram.jpg"
                  alt="CervejaBox"
                  width="28"
                  height="28"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="tpl-center">
      <small
        >Rua Gupe, 10767 - Jardim Belval - CEP: 06.422-120 - Barueri - SP -
        CNPJ: 30.070.683/0001-14 <br />Copyright © 2018, TODOS OS DIREITOS
        RESERVADOS.</small
      >
      <div class="coluna desenvolvimento">
        <h3>Desenvolvimento</h3>
        <div class="desenvolvimento">
          <a href="http://www.vtex.com.br" target="_blank" class="vtex"
            ><img
              src="/arquivos/logo-vtex.png"
              alt="Vtex"
              width="80"
              height="29"
          /></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<div
  id="newsPop"
  class="lightbox-original"
  style="display: none"
  aria-hidden="true"
>
  <div class="overlay"></div>
  <div class="content idade">
    <div class="top">CervejaBox</div>
    <div class="wrapper">
      <div class="wrap">
        <div class="titulo">
          <strong>Bem vindo</strong>
          <p>Você tem mais de 18 anos de idade?</p>
        </div>
        <div class="bts">
          <button id="sim18" class="bt">Sim</button>
          <button id="nao18" class="bt">Não</button>
        </div>
      </div>
    </div>
  </div>
  <div class="content news">
    <button class="close">x</button>
    <div class="top">CervejaBox</div>
    <div class="wrapper">
      <div class="wrap">
        <div class="titulo">
          <div class="text">
            <p>Cadastre seu e-mail para receber novidades e promoções</p>
          </div>
          <div class="kit-img">
            <img
              src="/arquivos/img-popup-promo2.png"
              alt="Kit de cervejas + engradado"
              width="106"
              height="85"
            />
          </div>
        </div>
        <form>
          <div class="drink-preferences">
            <div class="item">
              <label for="preference-beer">Cervejas</label>
              <input
                type="checkbox"
                id="preference-beer"
                name="preference-beer"
                value="Cervejas"
              />
            </div>
            <div class="item">
              <label for="preference-drinks">Cachaça</label>
              <input
                type="checkbox"
                id="preference-drinks"
                name="preference-drinks"
                value="Cachaça"
              />
            </div>
            <div class="item">
              <label for="preference-gin">Gin</label>
              <input
                type="checkbox"
                id="preference-gin"
                name="preference-gin"
                value="Gin"
              />
            </div>
            <div class="item">
              <label for="preference-vinhos">Vinhos</label>
              <input
                type="checkbox"
                id="preference-vinhos"
                name="preference-vinhos"
                value="Vinhos"
              />
            </div>
            <div class="item">
              <label for="preference-todos">Todos</label>
              <input
                type="checkbox"
                id="preference-todos"
                name="preference-todos"
                value="Todos"
              />
            </div>
          </div>
          <input
            type="email"
            class="email"
            name="email"
            placeholder="Seu e-mail aqui"
            required="required"
          />
          <input
            type="submit"
            class="submit cadastrar-lightbox-01 popup-01-gtm-test"
            name="submit"
            value="Cadastrar"
          />
          <input
            style="display: none"
            type="submit"
            class="submit cadastrar-lightbox-02"
            name="submit"
            value="Cadastrar"
          />
          <div class="mensagem">Aguarde...</div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--div id="footer-lgpd" class="footer-lgpd-opened">
      <p>
        Utilizamos cookies para melhorar a sua experiência no site.
        Ao continuar navegando, você concorda com a nossa
        <a href="/institucional/politica-de-privacidade" id="lgpd-accept-link" target="_blank">Política de Privacidade</a>.
      </p>
    
      <a href="javascript:void(0)" id="lgpd-accept">continuar e fechar</a>
    </div-->
