.btns-whats-telegram {
    position: fixed;
    bottom: 2px;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 999;
    align-items: flex-end;

    #close-offer-group {
        background: #fff;
        width: 30px;
        height: 30px;
        font-size: 16px;
        border: 1px solid black;
        border-radius: 100%;
        margin-left: 460px;
    }

    figure {
        position: relative;
        height: 70px;
        overflow: hidden;
        img {
            width: 100%;
            @media (min-width: 700px) {
                width: 250px;
            }
        }
        figcaption {
            position: absolute;
            top: 30px;
            font-size: 28px;
            @media (min-width: 700px) {
                top: 15px;
                font-size: 22px;
            }
            width: 100%;
            text-align: center;
            text-transform: uppercase;

            &.version_b {
                display: none;
            }
        }
    }

    @media (min-width: 700px) {
        align-items: center;
    }
    .btns-click {
        display: flex;
        flex-direction: row;
        a {
            img {
                width: 50vw;

                @media (min-width: 700px) {
                    width: calc(250px /2);
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    body .btns-whats-telegram {
        figure{
            height: 40px;
        }
        #close-offer-group{
            margin-left: 220px;
            font-size: 10px;
            height: 20px;
            width: 20px;
        }
    }
}
