@media (max-width: 900px) {
    .wrapperFiltros{
        .navigation{
            .menu-departamento{
                .search-single-navigator{
                    h3{
                        font-size: 18px !important;
                        margin: 10px 0;
                    }
                    ul{
                        margin-bottom: 30px;
                        li{
                            margin: 10px 0;
                            a{
                                font-size: 16px;
                                margin: 10px 0;
                            }
                        }
                    }
                }
            }
        }
    }   
}