.modalZap-blackout {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #00000073;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.lock-modal {
    overflow: hidden;
}

.modalZap-openned {
    position: fixed;
    border-radius: 5px;
    padding: 2px 10px;
    width: 300px;
    height: 500px;
    z-index: 10000;
    background: white;
    left: calc(50vw - 150px);
    top: calc(50vh - 250px);
}

.modalZap-openned .modalZap-openned-main {
    text-align: center;
}

.modalZap-openned img {
    width: 100px;
}

.modalZap-openned-header {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    border: none;
    background: none;
}

.modalZap-openned-header button {
    border: none;
    background: none;
    font-size: 20px;
    color: #646464;
    cursor: pointer;
}

.modalZap-openned-main h2 {
    color: #646464;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 18px;
}

.modalZap-openned-main {
    position: relative;
    bottom: 10px;
}

.modalZap-openned-main p {
    color: #646464;
    font-size: 14px;
    text-transform: uppercase;
    margin: 10px 0;
}

.buttons-links {
    display: flex;
    flex-direction: column;
}

.buttons-links button {
    width: 80%;
    margin: 2px auto;
    height: 40px;
    display: flex;
    border: none;
    align-items: center;
    cursor: pointer;
}

.buttons-links button p {
    color: white;
    margin-left: 30px;
}

.buttons-links button img {
    width: 35px;
    margin-left: 15px;
}

button.link-whasapp::after {
    content: '';
    background: url(https://cervejabox.vteximg.com.br/arquivos/whatsapp.png)
}

button.link-whasapp {
    background: #1bd741;
}

button.link-telegram {
    background: #039be5;
}

button.link-telegram p {
    margin-left: 35px;
}

button.link-telegram img {
    width: 30px;
    border: 1px solid white;
    border-radius: 30px;
}