body.produto {
    main {
        .tpl-content {
            >div.tpl-center {
                display: flex;
                flex-direction: column;

                .pack {
                    margin-top: 40px;

                    &-title {
                        border-bottom: 2px solid #d3d3d3;
                        padding-bottom: 5px;
                        padding-top: 5px;
                        margin-bottom: 15px;
                        clear: both;
                        font-family: inherit;
                        font-size: 18px;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: #333;
                        width: 100%;
                        text-align: center;
                        display: block;
                    }

                    &-list {
                        li {
                            .shelf-wrapper .wrapperConteudo .boxWrapPreceComprar.socio .left span {
                                font-size: 9px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

body.produto.openMinicart{
    @media (min-width: 1025px) {
        display: flex !important;
        .tpl-center{
            width: unset !important;
        }
        header .stpl-header .bottom>.tpl-center{
            padding: 0px 10px;
        }
        div.tpl-wrapper{
            width: 100% !important;
        }
        .sta-cart-container{
            position: sticky !important;
            display: block !important;
            width: 25% !important;
            height: 100vh !important;
        }
        .sta-cart-overlay{
            display: none !important;
        }
        .icones{
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            .minhaconta{
                margin-right: 0px !important;
            }
            span{
                font-size: 14px !important;
            }
        }
    }
}