.ah-newnavbar-desktop {
    display: flex;
    margin: 20px 60px;
    flex-wrap: wrap;
    justify-content: center;

    .list-item--01 {
        font-size: 22px;
        order: 1;
        width: 200px;
        margin: 20px 0;
        height: fit-content;
        a {
            color: black;
        }

        &.column-4 {
            order: 2;
            width: 400px;
            column-count: 2;
        }

        .nav-menu-list-item-list{
            margin-top: 20px;

            .list-item--02{
                font-size: 18px;
                a{
                    color: gray;
                }
            }
        }
    }
}
