#wapperBottomTriplo.wapperLinkBanner {
    .tpl-center {
        display: flex;
    }

    .box-banner {
        width: calc(100% / 5) !important;
        margin: 0 10px;

        @media (max-width: 800px) {
            margin: 0;
            width: fit-content !important;
        }

        a {
            &:hover {
                animation: none !important;
            }

            img {
                width: 100% !important;
                height: auto;
                margin: auto !important;
            }

            p {
                font-size: 24px;
                font-weight: 500;
                text-transform: uppercase;
                color: #333;
                margin-top: 8px;
                text-align: center;
            }
        }
    }
}