@media screen and (max-width: 1024px) {
    body main {
        margin-top: 180px !important;
    }

    .prateleira ul.slick-dots {
        display: none !important    
    }
}

@media screen and (max-width: 768px) {
    header .stpl-header .nav-gwbar-single-row {
        display: flex;
        margin-top: 2px
    }
}

header .nav-gwbar-single-row {
    display: none;
    place-content: center;
    width: 100%;
    background: #f1b616;
}

header .nav-gwbar-single-row .nav-a {
    margin: 15px 0px 15px 0px;
    align-self: center;
    color: #41484d;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase
}

header .nav-gwbar-single-row .margin-rgt {
    margin-right: 20px;
}

/* css top bar fixed */

@media screen and (min-width: 992px) {
    .nav-gwbar-single-rows {
      display : none !important;
    }
  }
  .nav-gwbar-single-rows {
    display : flex;
    align-content : center;
    justify-content : center;
    width : 100%;
    background : rgb(96, 200, 98);
  }
  
  .nav-gwbar-single-rows .nav-a {
    margin : 8px 0px;
    align-self : center;
    color : rgb(0, 0, 0);
    font-size : 16.5px;
    letter-spacing : 0.5px;
    font-weight : 500;
    text-transform : uppercase;
  }
  
  .nav-gwbar-single-rows .nav-a span {
    color : rgb(255, 255, 255);
    text-decoration-line : none;
    text-decoration-thickness : initial;
    text-decoration-style : initial;
    text-decoration-color : initial;
  }
  
  .nav-gwbar-single-rows .nav-a span:hover {
    text-decoration-line : underline;
    text-decoration-thickness : initial;
    text-decoration-style : initial;
    text-decoration-color : initial;
  }

  .slick-dotted.slick-slider{
    margin-bottom: 0px !important;
  }

  .cadastroNews{
    margin-top: 0px !important;
  }

  button.slick-next.slick-arrow::before {
    display: none !important;
}

button.slick-prev.slick-arrow::before {
    display: none !important;
}

.home .slick-arrow.slick-next{
  top: 48% !important;
}

body.home .tpl-wrapper main .tpl-content section#bloco-a #bannerPrincipal{
  margin: 0px !important;
}

.clube-de-cervejas .nav-gwbar-single-row{
  display: none !important;
}
@media screen and (max-width: 1024px) {
  .clube-de-cervejas main {
      margin: 100px 0 0 0 !important;
  }
}

  .clube-de-cervejas .nav-gwbar-single-rows{
    display: none !important;
 }

 .clube-de-cervejas .descubraPlano .clube01{
  display: block;
 }

 body.clube-de-cervejas .tpl-wrapper #main .tpl-content .descubraPlano .box.clube01.lightbox{
  display: block;
}